dialog {
  width: 30rem;
  margin: auto;
  padding: 2.5rem;
  background-color: var(--background-tertiary);
  border: none;
  border-radius: 20px;
}

dialog::backdrop {
  background-color: #23242cb7;
}

#closeDialog{
  position: absolute;
  top: 0;
  right: 0;
  width: 36px;
  cursor: pointer;
}
