dialog {
  width: 30rem;
  margin: auto;
  padding: 2.5rem;
  background-color: var(--background-tertiary);
  border: none;
  border-radius: 20px;
}

dialog::backdrop {
  background-color: #23242cb7;
}
