*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root{
  /* content */
  --content-primary:  #FFFFFF;
  --content-secondary: #98959D;
  --content-tertiary: #666666;
  --content-brand: #9282FA;

  /* background */
  --background-body: #14151D;
  --background-tertiary: #23242C;
  --background-logo: #2E2C30;


  --border-primary: #3E3C41;
}

body{
  background-color: var(--background-body);
  color: var(--content-primary);
}