.logo img {
  background: var(--background-logo);
  padding: 0.75rem 1.25rem;
  border-radius: 0 0 10px 0;
}

.btn-new {
  display: flex;
  justify-content: flex-end;
  width: 30%;
  margin-left: 70%;
}

.btn-ns {
  padding: 0.75rem 1.5rem;
  border-radius: 10px;
  border: none;
  background-color: var(--content-brand);
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 800;
}
.btn-ns:hover {
  background-color: #7e6cf5;
}

.btn-remove {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: var(--content-tertiary);
  font-size: 0.75rem;
}
.btn-remove:hover {
  color: var(--content-primary);
}

.border-top-li {
  border-top: 1px solid black;
}
